
.filme{
	
	width: 30%;
	float:left;
	margin-top: 5px;
	padding: 0 15px;
	position: relative;
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

.filme:nth-child(4){
	clear: left;
}

.filme:nth-child(7){
	clear: both;
}

.filme:nth-child(10){
	clear: both;
}

.filme:nth-child(13){
	clear: both;
}

.banner{
	position: relative;
	width: 300px;
	border-radius: 20px;
}

.resumo{
	width: 300px;
	text-align: justify;
	position: relative;
	top: 5px;
	left: 50px;
}

.titulo{
	text-align: center;
}
.classificacao{
	width: 50px;
	position: relative;
	margin-top: 5px;
	border-radius: 35px;
}

.elenco{

	position: relative;
	top: 15px;
	left: 10px;
	padding: 0 5px;
}

.generos{

	font-size: 1em;
	position: relative;
	top: 10px;
}



.opinioes-descricao, .opinioes-rating-p{
	position: relative;
	bottom:0px;
	margin: 0;
	text-align: justify;

}
.opinioes-descricao{
	margin-bottom: 10px;
}
.opinioes-rating-p:first-child{
	margin-top: 20px;
}
.opinioes-descricao{
	font-size: 1em;
}
.tituloSemelhante{
	width:100px;
	padding: 10px 5px;
	
}

h6{
	font-size: 1em;
}


.logo{
	width: 300px;
	position: relative;
	left: 37%;
}