

#myCarousel img{
	width: 800px;
	text-align: center;
	position: relative;
	left:300px;
	border-radius: 5px;
	border:outset rgba(0,0,0,0.01);
}

.catalogo{

	width: 80%;
	margin-left:10%;

}

.filme{
	border: 1px solid black;
	width: 30%;
	float:left;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	position: relative;

}

.filme:nth-child(4){
	clear: left;
}

.filme:nth-child(7){
	clear: both;
}

.filme:nth-child(10){
	clear: both;
}

.filme:nth-child(13){
	clear: both;
}

.banner{
	position: relative;
	left:10px;
	width: 300px;
}

.resumo{
	width: 300px;
	text-align: justify;
	position: relative;
	top: 5px;
	left: 10px;
}

.titulo{
	text-align: center;
}
.classificacao{

	float: right;
	margin-right: 20px;
}

.elenco{

	position: relative;
	top: 15px;
	left: 10px;
	padding: 0 5px;
}

.generos{

	font-size: 1em;
	position: relative;
	top: 10px;
}

.classificacao{
	width: 35px;
	position: relative;
	bottom:5px;
	margin-top:5px;
}

.opinioes-descricao{
	font-size: 1em;
}

